* {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
}

body {
        height: 100%;
        width: 100%
}

/* scrollbar */

body::-webkit-scrollbar {
        background-color: transparent;
        width: .625rem;
      }
      
body::-webkit-scrollbar-track {
        background-color: black;          
}
      
body::-webkit-scrollbar-thumb {
        background-color: white;   
        border-radius: 1.25rem; 
}

/* nav */

a {
        text-decoration: none;
        color: black;
}

.nav {
        position: fixed;
        width: 100%;
        background-color: #0F6292;
        min-height: 7rem;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 80%;
}

.menunav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-size: large;
        font-style: normal;
        text-transform: uppercase;
}

.nav-item {
        transition: .5s ease;
}

.nav-item:hover {
        transform: scale(2);
        color: #646a74;
}

/* barra de pesquisa */

.barra_de_pesquisa {
        height: 3rem;
        width: 25rem;

        border-radius: 2.5rem;
        background-color: #EEE2DE;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.13rem;
        margin-left: 60rem;
}

.texto_da_pesquisa {
        outline: none;
        border: 0;
        background: none;
        font-size: 1.125rem;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
}

.icone {
        width: 4.375rem;
        height: 2.188rem;
}

.texto_da_pesquisa::-webkit-input-placeholder{
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-style: normal;
}

.fishing {
        background-color: #000000;
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.title {
        color: white;
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-size: 10rem;
}

.subtitle {
        color: white;
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-size: 2rem;
}

/* ... */

.visual {
        background-color: #0F6292;
        height: 300vh;
}

.projetoreco {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}

.projr1 {
        width: 50%;
        height: 13rem;
        background-color: white;
        padding: 0.5rem 
}
.projr2 {
        width: 50%;
        height: 13rem;
        background-color: white;
        padding: 0.5rem 
}
.projr3 {
        width: 50%;
        height: 13rem;
        background-color: white;
        padding: 0.5rem 
}
.projr4 {
        width: 50%;
        height: 13rem;
        background-color: white;
        padding: 0.5rem 
}