* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 120vh;
    width: 100%;
}

/* scrollbar */

body::-webkit-scrollbar {
    background-color: transparent;
    width: .625rem;
  }
  
body::-webkit-scrollbar-track {
    background-color: white;         
}
  
body::-webkit-scrollbar-thumb {
    background-color: black;   
    border-radius: 1.25rem; 
}

/* nav */

a {
    text-decoration: none;
    color: white;
}

.nav {
    position: fixed;
    background-color: #000;
    min-height: 5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 80%;
}

.menunav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    text-transform: uppercase;
}

.nav-item {
    transition: .5s ease;
}

.nav-item:hover {
    transform: scale(1.5);
    color: #646a74;
}

/* barra de pesquisa */

.barra_de_pesquisa {
    height: 3rem;
    width: 25rem;

    border-radius: 2.5rem;
    background-color: #EEE2DE;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.13rem;
    margin-left: 40rem;
}

.texto_da_pesquisa {
    outline: none;
    border: 0;
    background: none;
    font-size: 1.125rem;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.icone {
    width: 4.375rem;
    height: 2.188rem;
}

.nos {
    background-color: #0F6292;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: large;
    padding-top: 3.7rem;
}

.walter {
    margin-top: 100px;
    width: 25rem;
    height: 30rem;
    background-color: black;
    border-radius: 30px;
    padding: 20px;
    color: white;
}

.joao {
    margin-top: 100px;
    width: 25rem;
    height: 30rem;
    background-color: black;
    border-radius: 30px;
    padding: 20px;
    color: white;
}

.rian {
    margin-top: 100px;
    width: 25rem;
    height: 30rem;
    background-color: black;
    border-radius: 30px;
    padding: 20px;
    color: white;
}

.foto1 {
    background-image: url("/imagens/w.jpeg");
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 30px;
}

.foto2 {
    background-image: url("/imagens/j.jpg");
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 30px;
}

.foto3 {
    background-image: url("/imagens/r.jpg");
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 30px;
}